body {
  transition: filter 0.3s ease-in-out;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup-form {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-form label {
  display: block;
  margin-bottom: 10px;
}

.popup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.popup-form button:hover {
  background-color: #0056b3;
}

#audioFileInput {
  display: none;
}


label {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
}

label:hover {
  background-color: #2980b9;
}

.popup-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 20px;
}